<div class="row">
  <div class="span4">
    <p><strong>ID:</strong> <%= @user.id %></p>
    <p><strong>Idade:</strong> <%= @user.age %></p>
    <p><strong>Localização:</strong> <%= @user.location %></p>

    <%= link_to "Voltar para meu perfil", user_path(@user) %>
  </div>
  <div class="span8">
    <% if @top_similar_users.empty? %>
      <h4>
        Não existem leitores semelhantes à você.
      </h4>
      <span>Leia e avalie pelo menos alguns livros para que possamos montar um perfil e enontrarmos leitores semelhantes à você.</span>
    <% else %>
      <h3>Existem <%= @user.number_of_similar_users %> leitores semelhantes à você.</h3>
      <h4>Os leitores mais semelhantes à você...<span class="pull-right">(TOP 5)<span></h4>
      <table class="table table-striped">
        <tbody>
        <% @top_similar_users.each do |user| %>
        <tr>
          <td><%= link_to user.id, user %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
